---
layout: page
title: Posts by tag
group: navigation
styles: [post]
---

<ul class="tag_box inline-list">
  {% assign tags_list = site.tags %}
  {% include tag_list.html %}
</ul>

{% for tag in site.tags %}
  <h2 id="{{ tag[0] }}">{{ tag[0] }}</h2>
  <ul>
    {% assign page_list = tag[1] %}
    {% include page_list.html %}
  </ul>
{% endfor %}
