<footer class="site-footer">

  <div class="wrapper">
    <div class='fleuron'><hr /></div>
    <h2 class="footer-heading">{{ site.title | escape }}</h2>
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>
{%- if site.author.name -%}
  {{ site.author.name | escape }}
{%- else -%}
  {{ site.title | escape }}
{%- endif -%}
          </li>
{% if site.author.email %}
          <li><a href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></li>
{%- endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
{%- for profile in site.author.profiles %}
  {% if profile.home %}
          <li>{% include profile-link.html profile=profile %}</li>
  {% endif %}
{% endfor %}

          <li class="rss-subscribe">Subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>

  </div>

</footer>
