    <header class="site-header" role="banner">
      <div id="site-title"><a href="{{ "/" | relative_url}}">{{ site.title | escape }}</a></div>
      <nav id="site-nav">
        <div class="nav-bar">
          <ul>
            {%- assign page_list = site.pages %}
            {%- assign group = "main" %}
            {%- include page_list.html %}
          </ul>
        </div>
      </nav>
    </header>
