{%- for node in page_list -%}
  {%- if node.title != null -%}
    {%- if group == null or group == node.group -%}
      {%- if page.url == node.url %}
            <li class="active"><a class="page-link" href="{{ node.url | relative_url }}">{{ node.title | escape }}</a></li>
      {%- else %}
            <li><a class="page-link" href="{{ node.url | relative_url }}">{{ node.title | escape }}</a></li>
      {%- endif %}
    {%- endif -%}
  {%- endif -%}
{%- endfor -%}
{%- assign page_list = nil -%}
{%- assign group = nil -%}
