<header class="post-header">
  <h1 class="page-title" itemprop="name headline">
  {% if post.title %}
    <a href="{{ root_url }}{{ post.url }}">{{ post.title | escape }}</a>
  {% else %}
    {% assign post = page %}
    {{ post.title | escape }}
  {% endif %}
  </h1>
  <p class="post-meta">
  {% if post.date %}<time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%b %-d, %Y" }}</time>{% endif %}
  {% if post.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ post.author }}</span></span>{% endif %}
  </p>
</header>

<div class="post-content" itemprop="articleBody">
  {{ content }}
</div>
