<a class="social-profile" title="{{ include.profile.name }}" href="{{ include.profile.url }}"><span class="icon">{% include icons/{{ profile.name | downcase }}.svg %}</span><span class="username">{{ include.profile.id }}</span></a>
