{% assign related_posts = nil %}
{% for post in site.posts %}
  {% for tag in post.tags %}
    {% if page.tags contains tag %}
      {% assign related_posts = 1 %}
    {% endif %}
  {% endfor %}
{% endfor %}

{% if related_posts %}
<section class="related-posts">
  <h2>Related blog posts</h2>

  <ul class="post-list">
  {% for post in site.posts %}
    {% for tag in post.tags %}
      {% if page.tags contains tag %}

    <li>
      <time class="post-meta" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%b %-d, %Y" }}</time>

      <p><a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></p>
      {% endif %}
    {% endfor %}
  {% endfor %}
  </ul>
  {% endif %}
</section>
