{% if tags_list.first[0] == null %}
  {% for tag in tags_list %}
    <li class="tag"><a href="/tag/{{ tag }}" rel="tag">{{ tag }} <span>{{ site.tags[tag].size }}</span></a></li>
  {% endfor %}
{% else %}
  {% for tag in tags_list %}
    <li class="tag"><a href="/tag/{{ tag[0] }}" rel="tag">{{ tag[0] }} <span>{{ tag[1].size }}</span></a></li>
  {% endfor %}
{% endif %}
