{% if include.resume.awards.size > 0 %}
<section class="p-experience">
  <h2>Awards</h2>

  {% for entry in include.resume.awards %}
    <div class="h-event">
      <h3 class="p-name">
        {% if entry.url %}<a class="u-url" href="{{ entry.url | escape }}">{{ entry.title | escape }}</a>{% else %}<p>{{ entry.title | escape }}</p>{% endif %}
      </h3>

      <div class="awarder">
        {% if entry.awarder %}{{ entry.awarder | markdownify | strip_newlines }}{% endif %}
      </div>

      {% if entry.date %}
      <p>
        <time class="dt-start" datetime="{{ entry.date | date_to_xmlschema }}">{{ entry.date | escape }}</time>
      </p>
      {% endif %}

      {% if entry.summary %}<div class="p-summary">{{ entry.summary | markdownify | strip_newlines }}</div>{% endif %}
    </div>
  {% endfor %}
</section>
{% endif %}
