{% if include.resume.basics %}
  {% assign basics = include.resume.basics %}

  <section class="contact p-contact vcard h-card" itemscope itemtype="http://schema.org/Person">
    {% if basics.name %}
      <h1 class="page-title fn n p-name" itemprop="name">{{ basics.name | escape }}</h1>
      {% if basics.label %}<p class="p-label" itemprop="jobTitle">{{ basics.label | escape }}</p>{% endif %}
    {% endif %}

    {% if basics.image %}
      <figure class="photo u-photo"><img itemprop="image" src="{{ basics.image | escape }}" /></figure>
    {% endif %}

    <h2>Contact Information</h2>

    <dl>
    {% if basics.website %}
      <dt>Website</dt>
      <dd><a href="{{ basics.website | escape }}" class="url u-url">{{ basics.website | escape }}</a></dd>
    {% endif %}

    {% if basics.email %}
      <dt>Email</dt>
      <dd class="email u-email" itemprop="email">{{ basics.email | escape }}</dd>
    {% endif %}

    {% if basics.phone %}
      <dt>Phone</dt>
      <dd class="tel p-tel" itemprop="telephone">{{ basics.phone | escape }}</dd>
    {% endif %}

    {% if basics.location %}
      {% assign location = basics.location %}
      <dt>Location</dt>
      <dd class="adr p-adr" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
      {% if location.address %}
      <span class="street-address p-street-address" itemprop="streetAdress">{{ location.address | escape }}</span>
      {% endif %}

      {% if location.city %}
      <span class="locality p-locality" itemprop="addressLocality">{{ location.city | escape }}</span>
      {% endif %}

      {% if location.region %}
      <span class="region p-region" itemprop="addressRegion">{{ location.region | escape }}</span>
      {% endif %}

      {% if location.postalCode %}
      <span class="postal-code p-postal-code" itemprop="postalCode">{{ location.postalCode | escape }}</span>
      {% endif %}

      {% if location.countryCode %}
      <span class="country-name p-country-name" itemprop="addressCountry">{{ location.countryCode | escape }}</span>
      {% endif %}
      </dd>
    {% endif %}
    </dl>

    {% if basics.profiles.size > 0 %}
      <h3>Web Presence</h3>
      <dl>
      {% for profile in basics.profiles %}
        <dt class="org p-org">{{ profile.network | escape }}</dt>
        <dd><a href="{{ profile.url | escape }}" class="url u-url">
        <span class="{% if profile.network == 'PGP' %}u-key{% else %}nickname p-nickname{% endif %}">{{ profile.username | escape }}</span>
        </a></dd>
      {% endfor %}
      </dl>
    {% endif %}

    {% if basics.summary %}
      <h3>About</h2>
      <div class="p-summary">{{ resume.basics.summary | markdownify | strip_newlines }}</div>
    {% endif %}

  </section>
{% endif %}
