{% if include.resume.education.size > 0 %}
<section class="p-education">
  <h2>Education</h2>

  {% for entry in include.resume.education %}
    <div class="h-event">
      <h3 class="p-location">
        {% if entry.url %}<a class="u-url" href="{{ entry.url | escape }}">{{ entry.institution | markdownify | strip_newlines }}</a>{% else %}{{ entry.institution | markdownify | strip_newlines }}{% endif %}
      </h3>

      {% if entry.studyType or entry.area %}
        <p>
          <span class="p-name">
          {% if entry.studyType %}{{ entry.studyType | escape }}{% endif %}
          {% if entry.area %}{{ entry.area | escape }}{% endif %}
          </span>
          {% if entry.gpa %}({{ entry.gpa | escape }}){% endif %}
        </p>
      {% endif %}

      {% if entry.startDate or entry.endDate %}
        <p>
          {% if entry.startDate %}<time class="dt-start" datetime="{{ entry.startDate | date_to_xmlschema }}">{{ entry.startDate | escape }}</time>{% endif %}
          —
          {% if entry.endDate %}<time class="dt-end" datetime="{{ entry.endDate | date_to_xmlschema }}">{{ entry.endDate | escape }}</time>{% endif %}
        </p>
      {% endif %}

      {% if entry.summary %}
        <div class="p-summary">

        {{ entry.summary | markdownify | strip_newlines }}

        {% if entry.courses.size > 0 %}
          <h4>Courses</h4>
          <ul>
          {% for course in entry.courses %}
            <li>{{ course | markdownify }}</li>
          {% endfor %}
          </ul>
        {% endif %}

        </div>
      {% endif %}

    </div>
  {% endfor %}
</section>
{% endif %}
