{% if include.resume.interests.size > 0 %}
<section class="interest">
  <h2>Interests</h2>

  <ul>
  {% for entry in include.resume.interests %}
    <li class="p-skill">
    {{ entry.name | markdownify | strip_newlines }}
    {% if entry.keywords.size > 0 %}
      <div class="keywords">
        <p>Keywords</p>

        <ul>
        {% for keyword in entry.keywords %}
          <li>{{ keyword | escape }}</li>
        {% endfor %}
        </ul>
      </div>
    {% endif %}
    </li>
  {% endfor %}
  </ul>
</section>
{% endif %}
