{% if include.resume.languages.size > 0 %}
<section class="language">
  <h2>Languages</h2>

  <dl>
  {% for entry in include.resume.languages %}
    <dt class="p-skill">{{ entry.language | markdownify | strip_newlines }}</dt>
    <dd>{% if entry.fluency %}{{ entry.fluency | markdownify | strip_newlines }}{% endif %}</dd>
  {% endfor %}
  </dl>
</section>
{% endif %}
