{% if include.resume.projects.size > 0 %}
<section class="project p-experience">
  <h2>Personal Projects</h2>

  {% for entry in include.resume.projects %}
    <div class="h-event">
      <h3 class="p-location">
        {% if entry.url %}<a class="u-url" href="{{ entry.url | escape }}">{{ entry.name | escape }}</a>{% else %}{{ entry.name | escape }}{% endif %}
      </h3>

      {% if entry.roles.size > 1 %}
        <h4>Roles</h4>
        <ul class="p-name">
        {% for role in entry.roles %}
          <li>{{ role | escape  }}</li>
        {% endfor %}
        </ul>
      {% elsif entry.roles %}
        <div class="p-name">{{ entry.roles | first | markdownify | strip_newlines }}</div>
      {% endif %}

      {% if entry.startDate or entry.endDate %}
        <p>
          {% if entry.startDate %}<time class="dt-start" datetime="{{ entry.startDate | date_to_xmlschema }}">{{ entry.startDate | escape }}</time>{% endif %}
          —
          {% if entry.endDate %}<time class="dt-end" datetime="{{ entry.endDate | date_to_xmlschema }}">{{ entry.endDate | escape }}</time>{% endif %}
        </p>
      {% endif %}

      {% if entry.description %}
        <div class="p-summary">

        {{ entry.description | markdownify | strip_newlines }}

        {% if entry.highlights.size > 0 %}
          <div class="highlights">
            <ul>
            {% for highlight in entry.highlights %}
              <li>{{ highlight | markdownify | strip_newlines }}</li>
            {% endfor %}
            </ul>
          </div>
        {% endif %}

        </div>
      {% endif %}

    </div>
  {% endfor %}
</section>
{% endif %}
