{% if include.resume.references.size > 0 %}
<section class="references">
  <h2>References</h2>

  <ul>
  {% for entry in include.resume.references%}
    <li>
    {% if entry.reference %}
      <blockquote>
        {{ entry.reference | markdownify | strip_newlines }}
        <footer>— <cite>{% if entry.url %}<a href="{{ entry.url | escape }}">{{ entry.name | escape }}</a>{% else %}{{ entry.name | escape }}{% endif %}</cite></footer>
      </blockquote>
    {% else %}
      {{ entry.name | escape }}
    {% endif %}
    </li>
  {% endfor %}
  </ul>
</section>
{% endif %}
