{% if include.resume.skills.size > 0 %}
<section class="skill">
  <h2>Skills</h2>

  <dl>
  {% for entry in include.resume.skills %}
    <dt class="p-skill">{{ entry.name | markdownify | strip_newlines }}</dt>
    <dd>

    <div class="level"><p>{% if entry.level %}Level: {{ entry.level }}{% endif %}</p></div>

    {% if entry.keywords.size > 0 %}
      <div class="keywords">
        <p>Keywords</p>

        <ul>
        {% for keyword in entry.keywords %}
          <li>{{ keyword | escape }}</li>
        {% endfor %}
        </ul>
      </div>
    {% endif %}
    </dd>
  {% endfor %}
  </dl>
</section>
{% endif %}
