{% if include.resume.volunteer.size > 0 %}
<section class="p-experience">
  <h2>Volunteer Work</h2>

  {% for entry in include.resume.volunteer %}
    <div class="h-event">
      <h3 class="p-location">
        {% if entry.url %}<a class="u-url" href="{{ entry.url | escape }}">{{ entry.organization | markdownify | strip_newlines }}</a>{% else %}{{ entry.organization | markdownify | strip_newlines }}{% endif %}
      </h3>

      {% if entry.position %}
        <div class="p-name">{{ entry.position | markdownify | strip_newlines }}</div>
      {% endif %}

      {% if entry.startDate or entry.endDate %}
        <p>
          {% if entry.startDate %}<time class="dt-start" datetime="{{ entry.startDate | date_to_xmlschema }}">{{ entry.startDate | escape }}</time>{% endif %}
          —
          {% if entry.endDate %}<time class="dt-end" datetime="{{ entry.endDate | date_to_xmlschema }}">{{ entry.endDate | escape }}</time>{% endif %}
        </p>
      {% endif %}

      {% if entry.summary %}
        <div class="p-summary">

        {{ entry.summary | markdownify | strip_newlines }}

        {% if entry.highlights.size > 0 %}
          <div class="highlights">
            <ul>
            {% for highlight in entry.highlights %}
              <li>{{ highlight | markdownify | strip_newlines }}</li>
            {% endfor %}
            </ul>
          </div>
        {% endif %}

        </div>
      {% endif %}

    </div>
  {% endfor %}
</section>
{% endif %}
