---
layout: default
---

{% for post in site.posts %}
  {% if forloop.first %}

    <!-- Just to keep spacing consistent -->
    <div class="post-navigation"></div>

    <div class="current-post">
      {% assign title = post.title %}
      {% assign content = post.content %}
      {% assign date = post.date %}
      {% include post_content.html %}
    </div>
    <hr />
    {%- if site.posts.size > 1 %}
    <h2>Older posts</h2>
    {%- endif -%}
  {%- else %}
    <ul class="post-list">
      <li>
        <time class="post-meta" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%b %-d, %Y" }}</time>
        <dl>
            <dt><a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></dt>
    {%- if post.description %}
            <dd>{{ post.description | escape }}</dd>
    {%- endif %}
        </dl>
      </li>
    </ul>
  {%- endif %}
{%- endfor %}
