<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
{% include head.html %}
  <body>
{% include header.html %}
    <main class="content" aria-label="Content">
      <div class="wrapper">

<!-- Begin page content -->
{{ content }}
<!-- End page content -->

      </div>
    </main>
{% include footer.html %}
  </body>
</html>
