---
layout: default
---

<div class="home">

  <!-- Just to keep spacing consistent -->
  <div class="post-navigation"></div>

  <h1 class="page-title">{{ page.title }}</h1>

{{ content }}

  <hr />

  <aside class="remark" markdown="1">
    <p>
      Unless otherwise stated, all scripts and programs made available here by me are
      of my own creation and are released under the
      <a href="http://www.gnu.org/copyleft/gpl.html">GNU General Public License</a>.
      They are therefore Free Software. All other work is licensed under a
      <a href="https://creativecommons.org/licenses/by-sa/4.0/">
        Creative Commons By-SA 4.0 License
      </a>.
    </p>
    {% if site.analytics.method -%}
    <p>
      This website uses
      {% if site.analytics.url %}
        <a href="{{ site.analytics.url }}">{{ site.analytics.method }}</a>
      {% else %}
        {{ site.analytics.method }}
      {% endif %}
      for user tracking.
      {%- if site.analytics.statement %}
      See this site's <a href="{{ site.analytics.statement }}">privacy policy</a>
      for information on how to opt-out, or for general peace of mind.
      {%- endif %}
    </p>
    {%- endif %}
    <p>
      All code on this website has been lovingly crafted by hand. Just for you. ♥
    </p>

    <div id='validated' markdown="1">
      <ul>
        <li><a href="http://www.w3.org/html/logo/"><img alt="HTML5 Powered with CSS3 / Styling, and Semantics" src="http://www.w3.org/html/logo/badge/html5-badge-h-css3-semantics.png" id="html5" title="HTML5 Powered with CSS3 / Styling, and Semantics" /></a></li>
        <li><a href="http://jigsaw.w3.org/css-validator/validator?uri={{ site.url }}{{ page.url }}"><img alt="Valid CSS!" src="http://jigsaw.w3.org/css-validator/images/vcss" id="css3" /></a></li>
        <li><a href="http://www.anybrowser.org/campaign/"><img alt="Viewable With Any Browser"
        src="assets/images/any-browser.png" id="anybrowser" /></a></li>
      </ul>
    </div>
  </aside>

</div>
