---
layout: default
---
<article class="page">

  <!-- Just to keep spacing consistent -->
  <div class="post-navigation"></div>

  <header class="page-header">
    <h1 class="page-title">{{ page.title | escape }}</h1>
  </header>

  <div class="page-content">

    {{ content }}

  </div>

</article>
