---
layout: default
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <div class="post-navigation">
    <ul class="inline-list">
      <li class="prev">
      {% if page.previous.url %}
        <a href="{{ page.previous.url }}">&laquo; {{ page.previous.title }}</a>
      {% else %}
        &nbsp;
      {% endif %}
      </li>
      <li class="next" >
        {% if page.next.url %}
          <a href="{{ page.next.url }}">{{ page.next.title }} &raquo;</a>
        {% endif %}
      </li>
    </ul>
  </div>

  {% include post_content.html %}

  {% unless page.tags == empty %}
  <ul class="tag_box inline-list">
    {% assign tags_list = page.tags %}
    {% include tag_list.html %}
  </ul>
  {% endunless %}

  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %}
</article>
