---
layout: default
---

<!-- Just to keep spacing consistent -->
<div class="post-navigation"></div>

<div class="resume hresume h-resume">

{% if page.resume.first %}
  {% assign resume = page.resume %}
{% else %}
  {% assign data_name = page.resume | default: "resume" %}
  {% assign resume = site.data[data_name] %}
{% endif %}

{% assign sections = "basics work projects volunteer education awards skills languages interests references" | split: " " %}
{% assign sections = page.sections | default: sections %}

{% for section in sections %}
  {% include resume/{{ section }}.html resume = resume %}
{% endfor %}

</div>
