---
layout: default
---
<article class="page">

  <!-- Just to keep spacing consistent -->
  <div class="post-navigation"></div>

  <header class="page-header">
    <h1 class="page-title">Posts by tag: {{ page.title | slugify }}</h1>
  </header>

  <div class="page-content">

  <section class="related-posts">

    <ul class="post-list">
    {% for post in page.posts %}
      <li>
        <time class="post-meta" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%b %-d, %Y" }}</time>

        <p><a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></p>

        <ul class="tag_box inline-list">
          {% assign tags_list = post.tags %}
          {% include tag_list.html %}
        </ul>

    {% endfor %}
    </ul>
  </section>

  <h2>Other tags</h2>

  <section class="related-posts">
    <ul class="tag_box inline-list">
      {% assign tags_list = site.tags %}
      {% include tag_list.html %}
    </ul>
  </section>

  </div>

</article>
